<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glow Girl - Editar Producto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/createProduct.css" />
    <link rel="icon" type="image/png" href="/img/icons/logo_head_icon.png">
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="logo">
                <a href = "/api/admin/catalog">
                    <img id="storeLogo" src="http://localhost:5000/img/icons/logo_tienda_light_icon.png" alt="Store Logo">
                </a>
            </div>

            <a href="/api/admin/catalog">
                <button class="btn-darkPink" id="btnGoBack">Volver al Catálogo</button>
            </a>

            <div class="icons">
                <div class="user">
                    <img src="/img/icons/user_icon.png" alt="User" class="icon" id="userIcon">
                    <div id="userWindow" class="user-window hidden">
                        <p id="userName">Nombre</p>
                        <button class="btn-grey" id="logOut">Cerrar sesión</button>
                    </div>
                </div>
                <img src="/img/icons/light_mode_icon.png" alt="Change Mode" class="icon-mode" id="btnMode">
            </div>
        </nav>
    </header>
    <h2>*ੈ✩‧₊˚ Editar el producto *ੈ✩‧₊˚</h2>
    <main class="form-container">
        <form id="formUpdateProduct">
            <input type="hidden" id="id" value="<%= product.id %>">

            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="<%= product.name %>" required>

            <label for="description">Descripción:</label>
            <textarea id="description" name="description" required><%= product.description %></textarea>

            <label for="price">Precio:</label>
            <input type="number" name="price" step="0.01" id="price" value="<%= product.price %>" required>

            <label for="img">Imagen:</label>
            <label class="drop-area" id="dropArea" >
                <img src="/img/icons/icon_upload_image.jpg" alt="Upload image" class="upload-icon">
                <p class="drop-text">Arrastra un archivo aquí o <span>explora</span></p>
                <p class="drop-subtext">Tamaño máximo: 5MB</p>
                <input type="file" id="fileInput" name="img" />
            </label>

            <div class="file-preview" id="filePreview">
                <div id="fileName">Archivo: </div>
            </div>

            <label for="category">Categoría:</label>
            <select id="category" name="category">
                <option value="accessory" <%= product.category === "accessory" ? "selected" : "" %>>Accesorio</option>
                <option value="bag" <%= product.category === "bag" ? "selected" : "" %>>Cartera</option>
            </select>

            <input id="active" name="active" value="<%= product.active %>" hidden></input>

            <button id="btnCreate" type="submit">Actualizar Producto</button>
            <button ID="btnCancel" type="button">Cancelar</button>
        </form>
        <div id="alert-container"></div>
    </main>
    <%- include('partials/footer.ejs') %>
    <script type="module" src="/js/updateProduct.js"></script>
</body>

</html>